# =========================================================
# EXECUTION
# =========================================================

# Opciones:
# local
# lambdatest
# browserstack

EXECUTION_PLATFORM=local

PLATFORM_NAME=Android


# =========================================================
# LOCAL APPIUM
# =========================================================

APPIUM_SERVER=http://127.0.0.1:4723

DEVICE_NAME=emulator-5554

APP_PACKAGE=

APP_ACTIVITY=


# =========================================================
# LAMBDATEST
# =========================================================

LT_USERNAME=

LT_ACCESS_KEY=

LT_APP=

LT_DEVICE_INDEX=0

# Activar / desactivar LambdaTest Tunnel
LT_TUNNEL=false


# =========================================================
# LAMBDATEST IOS
# =========================================================

LT_IOS_APP=


# =========================================================
# BROWSERSTACK
# =========================================================

BS_USERNAME=

BS_ACCESS_KEY=

BS_APP=

BS_DEVICE_INDEX=0


# =========================================================
# BROWSERSTACK LOCAL
# =========================================================

# Activar / desactivar BrowserStack Local
BS_LOCAL=false

# Identificador de la conexión Local
BS_LOCAL_IDENTIFIER=mobile-automation-local


# =========================================================
# API CONFIGURATION
# =========================================================

POKEMON_API_URL=https://pokeapi.co/api/v2

TEST_API_URL=https://jsonplaceholder.typicode.com

API_TIMEOUT=30


# =========================================================
# DATABASE
# =========================================================

DB_USER=

DB_PASSWORD=

DB_HOST=localhost

DB_PORT=1521

DB_SERVICE=FREEPDB1