# =========================================================
# ENVIRONMENT
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# PYTHON
# =========================================================

venv/
__pycache__/
*.pyc
.log

# =========================================================
# ALLURE
# =========================================================

allure-results/
allure-report/


# =========================================================
# TEST ARTIFACTS
# =========================================================

screenshots/


# =========================================================
# IDE
# =========================================================

.idea/
.vscode/